# Allow AI Studio build artifacts
!build_info.json
!build-outputs
!build-outputs/
!build-outputs/**
!build-outputs/app-debug.apk

*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
!debug.keystore.base64

# Firebase - never commit this
app/google-services.json
